<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue sur mon site</h1>

    <form action="" method=""> 
        <!-- Pas besoin d'action, pas de method en JavaScript -->
        <label for="title">Titre du film</label>
        <input type="text" id="title">

        <label for="synopsis">Synopsis du film</label>
        <input type="text" id="synopsis">

        <button id="btnSubmit">Envoyer</button>
    </form>

    <section id="allMovies">
        <!-- Cette section va servir à afficher tous les films de la base de données. -->
    </section>
    <script src="../public/assets/js/script.js"></script>
</body>
</html>